body {
    color: rgb(2, 9, 117);
    background: rgb(,1 64, 75);
    margin: 0px;
    font-family: "crossorigin", sans-serif;
    margin-bottom: 100px;
}

section {
    background: rgb(1, 64, 75);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos   {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chamada {
    background: rgb(46, 2, 102);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

.categoria {
    padding-left: 20px;
    padding-right: 20px;
  }
  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria h2 {
    color: rgb(15, 15, 15);
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }